Palette { 
    marker-line: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop:0 #ff0000, stop: 0.1 transparent); 
}

ChatView { 
    background: #002b36; /* base03 */
}

ChatLine[label="highlight"] {
  foreground: #93a1a1; /* base1 (like ChatLine#plain) */
  background: #073642; /* base02 */
}

ChatLine::timestamp { 
    foreground: #657b83; /* base00 */
}

ChatLine#plain { 
    foreground: #93a1a1; /* base1 */
}
ChatLine#notice {
    foreground: #cb4b16; /* orange */
}
ChatLine#action { 
    foreground: #268bd2; /* blue */
    font-weight: bold; 
    font-style: italic; 
}
ChatLine#nick { 
    foreground: #657b83; /* base00 */
}
ChatLine#mode { 
    foreground: #6c71c4; /* violet */
    font-weight: bold; 
}
ChatLine#join { 
    foreground: #859900; /* green */
}
ChatLine#part { 
    foreground: #dc322f; /* red */
}
ChatLine#quit { 
    foreground: #dc322f; /* red */
}
ChatLine#kick { 
    foreground: #dc322f; /* red */
}
ChatLine#kill { 
    foreground: #dc322f; /* red */
}
ChatLine#server { 
    foreground: #cb4b16; /* orange */
}
ChatLine#info { 
    foreground: #cb4b16; /* orange */
}
ChatLine#error { 
    foreground: #cb4b16; /* orange */
}
ChatLine#daychange { 
    foreground: #268bd2; /* blue */
}
ChatLine#topic { 
    foreground: #cb4b16; /* orange */
}


/* Sender Colors */
ChatLine::sender#plain[sender="self"] { 
    foreground: #eee8d5; /* base2 */
}

ChatLine::sender#plain[sender="0"] { 
    foreground: #b58900;
}
ChatLine::sender#plain[sender="1"] { 
    foreground: #c0690a;
}
ChatLine::sender#plain[sender="2"] { 
    foreground: #cb4b16;
}
ChatLine::sender#plain[sender="3"] { 
    foreground: #d33d22;
}
ChatLine::sender#plain[sender="4"] { 
    foreground: #dc322f;
}
ChatLine::sender#plain[sender="5"] { 
    foreground: #32d7b1;
}
ChatLine::sender#plain[sender="6"] { 
    foreground: #d33682;
}
ChatLine::sender#plain[sender="7"] { 
    foreground: #aa52cb;
}
ChatLine::sender#plain[sender="8"] { 
    foreground: #6c71c4;
}
ChatLine::sender#plain[sender="9"] { 
    foreground: #4a73cb;
}
ChatLine::sender#plain[sender="a"] { 
    foreground: #268bd2;
}
ChatLine::sender#plain[sender="b"] { 
    foreground: #28a1b9;
}
ChatLine::sender#plain[sender="c"] { 
    foreground: #2aa198;
}
ChatLine::sender#plain[sender="d"] { 
    foreground: #149d18;
}
ChatLine::sender#plain[sender="e"] { 
    foreground: #859900;
}
ChatLine::sender#plain[sender="f"] { 
    foreground: #a79d00;
}

/* BufferView Colors */
ChatListItem { 
    foreground: #93a1a1; /* base1 (like ChatLine#plain) */
}
ChatListItem[state="inactive"] { 
    foreground: #93a1a1; /* base1 (like ChatLine#plain) */
}
ChatListItem[state="channel-event"] { 
    /*
     * This is a variant of the solarized green with very little saturation to 
     * bring it closer to base1 (inactive) because the normal green was too 
     * eye-catching. 
     */
    foreground: #91995C;
}
ChatListItem[state="unread-message"] { 
    foreground: #268bd2; /* blue */
}
ChatListItem[state="highlighted"] { 
    foreground: #cb4b16; /* orange */
}
BufferView { 
    background: #002b36; /* base03 */
}

// NickView Colors
NickListItem[type="category"] { 
    foreground: #93a1a1; /* base1 (like ChatLine#plain) */
}
NickListItem[type="user"] { 
    foreground: #93a1a1; /* base1 (like ChatLine#plain) */
}
NickListItem[type="user", state="away"] { 
    foreground: #586e75; /* base01 */
}
NickView { 
    background: #002b36; /* base03 */
}

MultiLineEdit { 
    background: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
StyledLabel#topicLabel { 
    background: #002b36; /* base03 */
}
ChatLine#topic { 
    foreground: #93a1a1; /* base1 (like ChatLine#plain) */
}

// Miscellaneous Colors
QTreeView::item:selected { 
    color: #073642; /* base02 */
}
ChatMonitorSettingsPage BufferView::item { 
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
QTreeView#settingsTree { 
    background: #002b36; /* base03 */
}
QTreeView::item#settingsTree { 
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
QLineEdit:enabled { 
    background: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
QSpinBox:enabled { 
    background: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
QTableWidget { 
    background-color: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
QListWidget { 
    background-color: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}

QTableView {
  alternate-background-color: #42403B;
  background-color: #42403B;
  color: #93a1a1; /* base1 (like ChatLine#plain) */
}

Palette {
    link: #268bd2; /* blue */
    link-visited: #268bd2; /* blue */

    window: #002b36; /* base03 */
    window-text: #93a1a1; /* base1 (like ChatLine#plain) */
    text: #93a1a1; /* base1 (like ChatLine#plain) */

    light: #eee8d5; /* base2 */
    midlight: #93a1a1; /* base1 (like ChatLine#plain) */ 
    button: #073642; /* base02 */
    mid: #586e75; /* base01 */
    dark: #073642; /* base02 */
    button-text: #93a1a1; /* base1 (like ChatLine#plain) */
}

StyledLabel#topicLabel { 
    background: #002b36; /* base03 */
}
MultiLineEdit { 
    background: #002b36; /* base03 */
    color: #93a1a1; /* base1 (like ChatLine#plain) */
}
